{#
/**
 * @file
 * Theme override to display a hero banner.
 *
 * Available variables:
 * - bannerClassVariation: The banner variation class
 * - wrapperClass: The wrapper class
 * - containerClass : The container class
 * - contentClass: The content class
 * - ctaLinkClass: The cta link class
 *
 * @see block--lb-hero.html.twig
 *
 * @ingroup themeable
 */
#}
{% embed "block--lb-hero.html.twig" with {
  bannerClassVariation: 'hero__banner__small',
  wrapperClass: 'wrapper-content',
  containerClass: '',
  contentClass: ['col', 'col-lg-12', 'text-white', 'text-align-left', 'p-4', 'p-md-0'],
  ctaLinkClass: ''
} %}

  {% block block_content %}
    {% embed '@lb_hero/block--lb-hero--content.html.twig' with {
      'title': block_content.field_title.value,
      'description': block_content.field_description.value,
      'link': block_content.field_hero_cta,
      'image_uri': media_image,
    } %}

      {% block chevron %}{% endblock %}
      {% block hero_image %}{% endblock %}

      {% block chevron_second %}
        <div class="chevron">
          {% include "@lb_hero/chevron.html.twig" %}
        </div>
      {% endblock %}

      {% block content %}
        {% if title %}
          <h2>{{ title }}</h2>
        {% endif %}

        {% if description %}
          <div class="hero_banner-body lead">
            {{ description|raw }}
          </div>
        {% endif %}
      {% endblock %}

    {% endembed %}
  {% endblock %}

  {% block block_hero %}
    {{ attach_library('lb_hero/hero-styles-small') }}
    {{ parent() }}
  {% endblock %}

{% endembed %}
