table{
    border: 5px;

    .views-field-unit-price__number,
    a{
        margin-top: 15px;
       // width: 90%;
        font-size: 36px;
        text-decoration: none;
        cursor: alias;
        color: #7ba026;
        letter-spacing: 1.1px;
        word-spacing: 1.3;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    }
}

